<?xml version="1.0"?>
<model>
  <name>QR Marker</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Matteo Mastrogiuseppe</name>
    <email>matteo.mastro1@gmail.com</email>
  </author>

  <description>
    <p>QR Marker for Autonomous Robot</p>
  </description>
</model>
