<?xml version="1.0"?>

<model>
  <name>Bearing wall</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Matteo Mastrogiuseppe</name>
    <email>matteo.mastro1@gmail.com</email>
  </author>

  <description>
	Bearing wall for the environment.
  </description>
</model>
